*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background: #25282a;
    min-width: 20rem;
}
.wrapper{
    margin:0 auto;
    padding: 3.125rem 1.875rem;
    max-width: 55.625rem;
}
.container{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.slides{
    max-width: 100%;
    display:block;
}

.text1, .text2, .text3, .text4 {
    display: none;
}
img{  
    max-width: 100%;
}

.slider{
    margin-bottom:2.5rem;
    display: flex;
}
.controls{
    display: flex;
    align-items: center;
}
p{
    color:azure;
    font-size: 1.5rem;
    text-align: center;
}
label{
    padding:1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fake{
    background: #71abfe;
    border: 0.125rem solid #71abfe;	
	display: inline-block;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
    transition: 0.2s;
}
input{
    display: none;
}
label:hover .fake{
    background:#ffffff; 
    border: 0.125rem solid #ffffff;	 
}
#slide1:checked ~ .controls>[for=slide1]>.fake,
#slide2:checked ~ .controls>[for=slide2]>.fake,
#slide3:checked ~ .controls>[for=slide3]>.fake,
#slide4:checked ~ .controls>[for=slide4]>.fake
 {
    border: 0.125rem solid #71abfe;	
    background: transparent;
}
#slide1:checked ~ .controls>[for=slide1]:hover>.fake ,
#slide2:checked ~ .controls>[for=slide2]:hover>.fake ,
#slide3:checked ~ .controls>[for=slide3]:hover>.fake ,
#slide4:checked ~ .controls>[for=slide4]:hover>.fake  {
    border: 0.125rem solid #ffffff;	 
}
#slide1:checked ~ .slider {
    transform: translate(0%);
    transition: .5s;
    opacity:1;
}
#slide2:checked ~ .slider {
    transform: translateX(-100%);
    transition: .5s;
    opacity:1;
}
#slide3:checked ~ .slider {
    transform: translateX(-200%);
    transition: .5s;
    opacity:1;
}
#slide4:checked ~ .slider {
    transform: translateX(-300%);
    transition: .5s;
    opacity:1;
}
#slide1:checked ~ .text .text1,
#slide2:checked ~ .text .text2,
#slide3:checked ~ .text .text3,
#slide4:checked ~ .text .text4 {
    display: block;
    animation-name: emerging;
    animation-duration: 1.5s;
}

@keyframes emerging {
    0% {
        opacity: 0;
        transform: translateX(12.5rem)
      }
      100% {
        opacity: 1;
        transform: translateX(0rem)
      }
}
@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }
    .text-controls{
        flex-direction: column-reverse;
    }
    .text{
        order: 2;
    }
    .controls{
        justify-content: center;
    }
    .text1, .text2, .text3, .text4{
        text-align: start;
    }
}