*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background: #25282a;
    min-width: 320px;
}
.wrapper{
    margin:0 auto;
    padding: 50px 30px;
    max-width: 890px;
}
.container{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.slides{
    max-width: 100%;
    display:block;
}

.text1, .text2, .text3, .text4 {
    display: none;
}
img{  
    max-width: 100%;
}

.slider{
    margin-bottom:40px;
    display: flex;
}
.controls{
    display: flex;
    align-items: center;
}
p{
    color:azure;
    font-size: 24px;
    text-align: center;
}
label{
    padding:20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fake{
    background: #71abfe;
    border: 2px solid #71abfe;	
	display: inline-block;
	height: 1.5rem;
	position: relative;
	width: 1.5rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    transition: 0.2s;
}
input{
    display: none;
}
label:hover .fake{
    background:#ffffff; 
    border: 2px solid #ffffff;	 
}
#slide1:checked ~ .controls>[for=slide1]>.fake,
#slide2:checked ~ .controls>[for=slide2]>.fake,
#slide3:checked ~ .controls>[for=slide3]>.fake,
#slide4:checked ~ .controls>[for=slide4]>.fake
 {
    border: 2px solid #71abfe;	
    background: transparent;
}
#slide1:checked ~ .controls>[for=slide1]:hover>.fake ,
#slide2:checked ~ .controls>[for=slide2]:hover>.fake ,
#slide3:checked ~ .controls>[for=slide3]:hover>.fake ,
#slide4:checked ~ .controls>[for=slide4]:hover>.fake  {
    border: 2px solid #ffffff;	 
}